* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
:root {
  /* ------------------text-color-------------- */
  --white-text-color: white;
  --black-text-color: black;
  --orange-text-color: #f69f12;
  /* ----------------border-color-------------- */
  --navbar-border-bottom: rgba(153, 153, 153, 0.521);
  --language-border-color: black;
  --services-card-back-border-color: rgb(125, 125, 125);
  --services-card-button-border-color-mobile: white;
  /* -------------background-color------------- */
  --hamburger-background-color: black;
  --language-background-color: #f69f12;
  --language-background-color-hover: white;
  --ship-background-color: rgba(0, 0, 0, 0.3);
  --ship-button-background-color: #f69f12;
  --ship-button-background-color-hover: black;
  --services-background-color: #2f4858;
  --modals-background-color: white;
  --overlay-background-color: rgba(80, 79, 79, 0.591);
  --overlay-border-color: rgba(255, 255, 255, 0.437);
  --services-card-box-shadow: rgba(0, 0, 0, 0.1);
  --services-card-back-background-color: black;
  --services-card-back-button-background-color: #f69f12;
  --services-card-back-button-background-color-hover: #f69f129e;
  --more-and-less-buttons-color: #f69f12;
  --traffic-background-color: #2f4858;
  --traffic-element-border-color: white;
  --flag-background-color: white;
  --traffic-arrow-color: #f69f12;
  --contact-card-background-color: white;
  --contact-card-border-color: #f69f12;
  --contact-text-color: #2f4858;
  --contact-card-back-background-color: #f69f12;
  --contact-card-back-border-color: #f69f12;
  --contact-button-background-color: #f69f12;
  --contact-button-border-color: #f69f12;
}
/* --------------header----------------- */
header {
  width: 100%;
  position: relative;
  background-color: transparent;
  position: fixed;
  border-bottom: 1px solid var(--navbar-border-bottom);
  z-index: 100;
}
.menu-container {
  flex-direction: column;
  position: absolute;
  list-style: none;
  background-color: var(--hamburger-background-color);
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  top: -5500px;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.x-icon {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  padding: 17px 0;
}
.x-icon-element {
  width: 35px;
  cursor: pointer;
}
.menu-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}
.menuBar-image img {
  width: 200px;
}
.menuBar-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  width: 100%;
}
.menuBar-texts a {
  text-decoration: none;
  color: var(--white-text-color);
  font-size: 20px;
}
nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.logo-image img {
  width: 140px;
}
.menu-texts {
  display: none;
}
.lang-and-hamburger {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.lang-element {
  position: relative;
}
.default-lang {
  display: flex;
  align-items: center;
  color: var(--white-text-color);
  cursor: pointer;
}
.default {
  font-size: 18px;
}
.down-arrow,
.black-down-arrow {
  transition: transform 0.3s ease;
}
.down-arrow {
  width: 20px;
}
.black-down-arrow {
  width: 14px;
  padding-left: 2px;
}
.other-lang {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 40px;
  top: 22px;
  right: 3px;
  background-color: var(--language-background-color);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--language-border-color);
}
.other-lang p {
  padding: 5px;
  color: var(--white-text-color);
  font-size: 18px;
}
.other-lang p:hover {
  background-color: var(--language-background-color-hover);
  color: var(--black-text-color);
}
.other-lang p:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.other-lang p:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.hamburger-element img {
  width: 25px;
  cursor: pointer;
}
/* ----------------------main------------------------ */
/* ------------ship---------------- */
.ship-video {
  width: 100%;
  position: relative;
}
#myVideo {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.ship-image {
  width: 100%;
}
.ship-image img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.ship-background {
  width: 100%;
  height: 60vh;
  position: absolute;
  top: 0;
  background-color: var(--ship-background-color);
}
.ship-text {
  position: absolute;
  width: 100%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--white-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.ship-text h1 {
  color: var(--orange-text-color);
  font-size: 30px;
}
.ship-text p {
  font-size: 16px;
  font-weight: bold;
}
.ship-text a {
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background-color: var(--ship-button-background-color);
  color: var(--white-text-color);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.ship-text a:hover {
  background-color: var(--ship-button-background-color-hover);
  color: var(--orange-text-color);
}
.ship-text a:active {
  transform: scale(0.9);
}
/* --------------------services-card-flip------------------- */
.services-container {
  padding: 80px 0;
  background-color: var(--services-background-color);
  margin-top: -5px;
}
.services-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  text-align: center;
}
.services-text h2 {
  font-size: 30px;
  color: var(--orange-text-color);
}
.services-text p {
  padding: 20px 0;
  font-size: 16px;
  color: var(--white-text-color);
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
  gap: 30px;
}
/* ---------modal------------ */
.modals {
  background-color: var(--modals-background-color);
  border-radius: 10px;
  list-style: none;
  padding: 25px;
}
.card-texts {
  height: 500px;
  overflow-y: scroll;
}
.card-texts::-webkit-scrollbar {
  display: none;
}
.modal-x-icon {
  display: flex;
  justify-content: end;
  align-items: center;
}
.modal-x-icon img {
  width: 30px;
  cursor: pointer;
  padding-bottom: 10px;
}
.modal-header {
  text-align: center;
  padding-bottom: 10px;
  color: var(--orange-text-color);
}
.modal-texts p {
  text-align: justify;
  font-size: 16px;
}
.modal-texts p:nth-child(3) {
  padding: 10px 0;
}
.modal-texts h4 {
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
}
.modal-texts b {
  font-size: 16px;
}
.modal-texts ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
  list-style: disc;
  margin-left: 15px;
}
.modal-texts ul li {
  font-size: 16px;
}
.bmt-text {
  margin: 10px 0;
  font-weight: bold;
}
.last-text {
  padding: 10px 0;
}
/* --------------------- */
.card {
  width: 300px;
  height: 250px;
  float: left;
  perspective: 700px;
  cursor: pointer;
}
.card:hover .content {
  transform: rotateY(-180deg);
  transition: transform 1s;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px var(--services-card-box-shadow);
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 15px;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 10px;
  border-radius: 15px;
  backface-visibility: hidden;
}
.front {
  overflow: hidden;
}
.front .image img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 10px;
  color: var(--white-text-color);
  height: 100px;
  background-color: var(--overlay-background-color);
  border-top: 1px solid var(--overlay-border-color);
}
.overlay h2 {
  font-size: 20px;
  padding-left: 10px;
  padding-top: 20px;
}
.buttons {
  padding-bottom: 10px;
  display: flex;
  justify-content: end;
  width: 90%;
  margin: 0 auto;
}
.buttons button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--services-card-button-border-color-mobile);
  background-color: transparent;
  color: var(--white-text-color);
  cursor: pointer;
}
.buttons button:nth-child(2) {
  margin: 0 15px;
}
.back {
  display: block;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--white-text-color);
  border: 1px solid var(--services-card-back-border-color);
  background-color: var(--services-card-back-background-color);
  transform: rotateY(180deg);
}
.back button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--services-card-back-button-background-color);
  color: var(--white-text-color);
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.back button:hover {
  transform: scale(1.1);
  background-color: var(--services-card-back-button-background-color-hover);
}
/* --------------------about-us------------------- */
.about-us-container {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}
.about-us-header {
  text-align: center;
}
.about-us-header h2 {
  font-size: 30px;
}
.about-us-header p {
  padding: 20px 0;
  font-size: 16px;
}
.youtube-video {
  margin-bottom: 30px;
  width: 100%;
}
.youtube-video iframe {
  width: 100%;
  min-height: 40vh;
  border-radius: 10px;
}
.about-us-text p {
  font-size: 16px;
  text-align: justify;
}
/* --------------------direction-of-traffic------------------- */
.more-button,
.less-button {
  padding: 10px 20px;
  border: none;
  background-color: var(--more-and-less-buttons-color);
  color: var(--white-text-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  font-size: 14px;
}
.traffic-container {
  width: 100%;
  background-color: var(--traffic-background-color);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.traffic-container h2 {
  color: var(--white-text-color);
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
}
.traffic-elements {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--traffic-element-border-color);
}
.active-elements {
  display: none;
}
.left-side-flag,
.middle-side,
.right-side-flag {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.flag-element {
  background-color: var(--flag-background-color);
  padding: 0 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 60px;
}
.flag-element img {
  width: 50px;
}
.flag-text {
  width: 100%;
  text-align: center;
}
.flag-text b,
.flag-text p {
  color: var(--white-text-color);
  font-size: 14px;
}
#arrowAnim {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  width: 2vw;
  height: 2vw;
  border: 0.5vw solid;
  border-color: var(--traffic-arrow-color) transparent transparent
    var(--traffic-arrow-color);
  transform: rotate(225deg);
}
.arrowSliding {
  position: absolute;
  animation: slide 4s linear infinite;
}
.delay1 {
  animation-delay: 1s;
}
.delay2 {
  animation-delay: 2s;
}
.delay3 {
  animation-delay: 3s;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-8vw);
  }
  20% {
    opacity: 1;
    transform: translateY(-4vw);
  }
  80% {
    opacity: 1;
    transform: translateY(4vw);
  }
  100% {
    opacity: 0;
    transform: translateY(8vw);
  }
}
/* ------------------------contact--------------------------- */
.contact-container {
  width: 100%;
  padding: 80px 0;
}
.contact-header {
  text-align: center;
}
.contact-header h2 {
  font-size: 30px;
}
.contact-header p {
  padding: 20px 0;
  font-size: 16px;
}
/* ---------contact-country-------------- */
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}
.card-country {
  width: 280px;
  height: 300px;
  perspective: 1500px;
}
.content1,
.content2,
.content3,
.content4,
.content5,
.content6,
.content7 {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}
.more1,
.more2,
.more3,
.more4,
.more5,
.more6,
.more7 {
  display: none;
}
.more1:checked ~ .content1 {
  transform: rotateY(180deg);
}
.more2:checked ~ .content2 {
  transform: rotateY(180deg);
}
.more3:checked ~ .content3 {
  transform: rotateY(180deg);
}
.more4:checked ~ .content4 {
  transform: rotateY(180deg);
}
.more5:checked ~ .content5 {
  transform: rotateY(180deg);
}
.more6:checked ~ .content6 {
  transform: rotateY(180deg);
}
.more7:checked ~ .content7 {
  transform: rotateY(180deg);
}
.front-country,
.back-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;
}
.inner {
  height: 100%;
  display: grid;
  padding: 8px;
  transform: translateZ(80px) scale(0.94);
  grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
  justify-items: center;
}
.front1-image {
  background-image: url(./images/azerbaijanflag.svg);
}
.front2-image {
  background-image: url(./images/russianflag.svg);
}
.front3-image {
  background-image: url(./images/iranflag.png);
}
.front4-image {
  background-image: url(./images/georgiaflag.png);
}
.front5-image {
  background-image: url(./images/chinaflag.svg);
}
.front6-image {
  background-image: url(./images/turkeyflag.svg);
}
.front7-image {
  background-image: url(./images/irakflag.svg);
}
.front-country {
  background-color: var(--contact-card-background-color);
  background-size: 230px;
  background-repeat: no-repeat;
  background-position: center;
}
.front-country:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 6px;
  backface-visibility: hidden;
  border: 2px solid var(--contact-card-border-color);
}
.inner h3 {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--orange-text-color);
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}
.only-text-in-back {
  color: var(--contact-text-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.iran-texts {
  height: 180px;
  overflow-y: scroll;
  scrollbar-width: auto;
}
.iran-texts::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
}
.iran-texts::-webkit-scrollbar-track {
  background-color: var(--black-text-color);
}
.iran-texts::-webkit-scrollbar-thumb {
  background-color: var(--white-text-color);
}
.back-info {
  transform: rotateY(180deg);
  background-color: var(--contact-card-back-background-color);
  border: 2px solid var(--contact-card-border-color);
}
.button {
  grid-column: 1/-1;
  justify-self: center;
}
.button {
  grid-row: -1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: var(--contact-button-background-color);
  border: solid 2px var(--contact-card-border-color);
  color: var(--white-text-color);
  border-radius: 4px;
  text-align: center;
  left: 50%;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-shadow: none;
}
.button.return {
  line-height: 3em;
  color: var(--white-text-color);
  border-color: var(--white-text-color);
  background-color: var(--white-text-color);
  text-shadow: none;
}
/* -------------------------------footer------------------------------- */
footer {
  width: 100%;
  background-color: var(--black-text-color);
  padding: 30px 0;
}
footer ul {
  width: 90%;
  margin: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
footer ul li:first-child {
  order: 1;
}
footer ul li:nth-child(2) {
  order: 3;
}
footer ul li:last-child {
  order: 2;
}
footer ul li:first-child p {
  color: var(--white-text-color);
  font-size: 16px;
}
footer ul li:first-child p b {
  color: var(--orange-text-color);
}
footer ul li:nth-child(2) img {
  width: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
footer ul li:nth-child(2) img:hover {
  transform: scale(1.2);
}
footer ul li:last-child {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
footer ul li:last-child img {
  width: 20px;
}
footer ul li:last-child a {
  color: var(--white-text-color);
  text-decoration: none;
}
